body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita rolagem durante a intro */
}

#intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #EA972D; /* Cor inicial */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/*#logo {
  /* otimiza a animação extrema de zoom
  will-change: transform, opacity;
} */ /* esquece esse caraio */

#main-content {
   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#main-svg {  
  /* O mapa vai ocupar sempre 35% da largura total da tela */
  width: 35vw; 
  
  /* limites de segurança */
  min-width: 280px; 
  max-width: 600px; 
  
  height: auto; /* não esticar*/
  flex-shrink: 0;

  will-change: transform; /* otimiza para transformações */

  visibility: hidden;
}

#fundo-png {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(backgroundTexture/tramasFundoWebsite1.png) center/cover no-repeat;
  z-index: -1;
}


#texto-lateral {
  position: absolute; /* Posicionamento absoluto para não atrapalhar o centro do mapa */
  right: 10vw;        /* Distância da borda direita da tela */
  width: 30vw;        /* Largura do texto responsiva */
  max-width: 400px;
  color: #ffffff;     /* Cor do texto (ajuste conforme o seu fundo) */
  font-family: sans-serif;
  font-family: "snaga-unicase-display", sans-serif;
  font-style: normal;
  font-weight: 100; 

  color: #F3E28B;
  
  visibility: hidden; /* mantém o texto invisível até o GSAP assumir o controle */
}

#mapa-completo {
  width: 100%;
  height: auto;
  max-height: 80vh;


}

.peca-mapa {
  fill: #F3E28B; 
  transition: fill 0.3s ease;
  cursor: pointer;
}

.peca-mapa:hover {
  cursor: pointer;
  fill: #EA972D;
  transition: fill 0.3s ease;
}

#modal-parabens-container {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden; 
  opacity: 0;
  
}

#tela-expansiva {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 142px;
  flex-shrink: 0;
  border-radius: 342px;
  background: #F3E28B;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Corta os textos para não vazarem durante a expansão */
}

#conteudo-parabens {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.titulo-parabens {
  width: 100%;
  color: #72171B;
  text-align: center;
  font-family: 'Coolvetica', sans-serif;
  font-size: 115px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.texto-parabens {
  font-family: 'Coolvetica', sans-serif;
  width: 641px;
  color: #72171B;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 40px 0;
}

.btn-explore {
  font-family: "snaga-unicase-display", sans-serif;
  width: 241px;
  height: 75px;
  border-radius: 18px;
  background: #72171B;
  color: #F3E28B;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; 
}